<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnooc.esermis.mapper.BaseCodeMapper">

    <resultMap type="com.cnooc.esermis.entity.Staff" id="StaffMap" autoMapping="true">
        <result column="custom1" property="idnumber"/>
        <association property="factorystaffdep" javaType="com.cnooc.esermis.entity.BaseCode">
            <id column="custom2" property="id"/>
            <result column="factorystaffdep_name" property="name"/>
        </association>
        <association property="staffgroup" javaType="com.cnooc.esermis.entity.BaseCode">
            <id column="custom3" property="id"/>
            <result column="staffgroup_name" property="name"/>
        </association>
        <association property="departmentdatatype" javaType="com.cnooc.esermis.entity.BaseCode">
            <id column="custom4" property="id"/>
            <result column="departmentdatatype_name" property="name"/>
        </association>
        <!-- <association property="inoutdep" javaType="com.cnooc.esermis.entity.BaseCode">
            <id column="custom5" property="id"/>
            <result column="inoutdep_name" property="name"/>
        </association> -->
        <association property="department" javaType="com.cnooc.esermis.entity.Department">
            <id column="departmentid" property="id"/>
            <result column="departmentname" property="name"/>
        </association>
        <association property="company" javaType="com.cnooc.esermis.entity.Company">
            <id column="companyid" property="id"/>
            <result column="companyname" property="name"/>
        </association>
    </resultMap>

    <sql id="fields">
        a.staffid as id,
        a.staffno,

        a.departmentid,
        f.departmentname,

        a.companyid,
        g.companyname,

        a.staffname,
        a.telephone,
        a.email,
        a.superiorid,
        a.positionname,
        a.positionid,
        a.photo,
        a.iscertificate,
        a.certificatecode,
        a.workremark,
        a.trainremark,
        a.attachsnum,
        a.isvalid,
        a.custom1,

        a.custom2,
        b.codename factorystaffdep_name,
        a.custom3,
        c.codename staffgroup_name,
        a.custom4,
        d.codename departmentdatatype_name,
        a.custom5,
        decode(a.custom5,'0','内部','1','外部')  inoutdepname,
        <!-- e.codename inoutdep_name, -->

        a.custom6,
        a.custom7,
        a.mobile,
        a.sex,
        a.isprocess,
        a.isnotice
    </sql>

    <sql id="join">
        left join F_BASECODE b
        on a.custom2 = b.codeid and b.codetype = '1209' AND b.isvalid = '1'
        left join F_BASECODE c
        on a.custom3 = c.codeid and c.codetype = '1227' AND c.isvalid = '1'
        left join F_BASECODE d
        on a.custom4 = d.codeid and d.codetype = '1206' AND d.isvalid = '1'
        <!-- left join F_BASECODE e
        on a.custom5 = e.codeid and e.codetype = '1049' AND e.isvalid = '1' -->
        left join F_Department f
        on a.companyid = f.companyid and a.departmentid = f.departmentid
        left join F_Company g
        on a.companyid = g.companyid
    </sql>

    <select id="selectPage" resultMap="StaffMap">
        SELECT
        <include refid="fields"/>
        FROM F_Staff a
        <include refid="join"/>
        <where>
            <if test="ew!=null">
                <if test="ew.sqlSegment!=null">${ew.sqlSegment}</if>
            </if>
        </where>
    </select>

    <select id="selectTrainPage" resultMap="StaffMap">
        SELECT
        <include refid="fields"/>
        FROM F_Staff a
        <include refid="join"/>
        <where>
            <choose>
                <when test="deid==null">
                    a.companyid=#{coid}
                    and a.isvalid='1'
                    and a.departmentid is null
                </when>
                <otherwise>
                    a.departmentid=#{deid}
                    and a.isvalid='1'
                </otherwise>
            </choose>
            <if test="ew!=null">
                <if test="ew.sqlSegment!=null">${ew.sqlSegment}</if>
            </if>
        </where>
    </select>

    <select id="selectList" resultMap="StaffMap">
        SELECT
        <include refid="fields"/>
        FROM F_Staff a
        <include refid="join"/>
        <where>
            <if test="ew!=null">
                <if test="ew.sqlSegment!=null">${ew.sqlSegment}</if>
            </if>
        </where>
    </select>
    <select id="selectById" resultMap="StaffMap">
        SELECT
        <include refid="fields"/>
        FROM F_Staff a
        <include refid="join"/>
        <where>
            a.staffid=#{id}
        </where>
    </select>
</mapper>